<!--
  Generated template for the MusicCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<app-header></app-header>


<ion-content>

  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
  <!--<ion-refresher-content></ion-refresher-content>-->
  <!--</ion-refresher>-->

  <ion-card *ngFor="let category of categories" class="cardTile" (tap)="openItemList(category,'beeptunes')">
    <img-loader [src]="globalUrl+category.imageURL"
                useImg fallback="./assets/img/offlinePlaceholder.png"
                fallbackAsPlaceholder="true"
                spinner="true"
    ></img-loader>
    <!--<img src="./assets/img/offlinePlaceholder.png" *ngIf="!isOnline">-->
    <!--<ion-spinner *ngIf="!loaded" class="SpinCenter"></ion-spinner>-->
    <!--<ion-card-content>-->
    <!--<ion-card-title class="card-title overflow" text-center>-->
    <!--{{category.name}}-->
    <!--</ion-card-title>-->
    <!--</ion-card-content>-->
  </ion-card>

  <ion-item></ion-item>


</ion-content>
